
body{
    padding-left: 0%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/doodles.png);
    background-repeat: repeat;
}

/*navigation bar*/

.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100vw ;
    height: 13vh;
    background-color: rgb(5, 2, 92);
    position: fixed;
    top: 0;
}

.nav-name{
    color: aliceblue;
    font-size: 7vh;
    align-items: center;
    padding-top: 3vh;
    font-family: fantasy;
}

.nav-icon img{
    width: 13%;
    padding-left: 3vw;
    padding-right: 1.5vw;
    float: left;
    padding-top: 1.2vh;
}

.logo{
    align-items: center;
    justify-content: left;
}

.nav-items{
    display: flex;
    padding-right: 1vw;
}

.nav-item a{
    text-decoration: none;
    color: aliceblue;
    font-size: 130%;
    font-family: fantasy;
    margin-left: 2vw;
    margin-right: 2vw;
}

.nav-item a:hover{
    color: rgb(156, 157, 255);
    transition: all 0.4s;
}


/*contents*/

.contents{
    background-color: rgba(156, 158, 255, 0.87);
    padding-left: 0vw;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 87vh;
    margin-top: 13vh;
}

/*home*/

.home{
    padding-left: 2vw;
    display: flex;
}

.home-left-1{
    padding-top: 26vh;
    font-size: 500%;
    font-weight: bold;
    font-family: fantasy;
    padding-left: 12.3vw;
}

.home-left-2{
    font-family: fantasy;
    font-weight: bold;
    font-size: 180%;
    padding-left: 8.4vw;
    padding-bottom: 5vh;
}

.home-left-link button{
    width: 18vw;
    height: 8vh;
    background-color: rgb(5, 2, 92);
    padding: 0.5vh ;
    margin-left: 15.2vw;
    border: none;
    border-radius: 5vw;
    border-style: outset;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.home-left-link a{
    text-decoration: none;
    color: aliceblue;
    font-family: fantasy;
    font-size: 150%;
    align-items: center;
}

.home-left-link a:hover{
    font-size: 162%;
    color:  rgb(156, 157, 255);
    transition: all 0.3s;
}

.home-right-image img{
    height: 37vw;
    padding-top: 5vh;
    padding-left: 11vw;
}

/*best sellers*/

.best-title{
    padding-top: 1.5vw;
    text-align: center;
    align-items: center;
    font-family: fantasy;
    font-size: 300%;
    font-weight: bolder;
}

.best-subtitle{
    text-align: center;
    font-size: 130%;
}

.all-best-book{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.best-book-1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.best-book{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    margin-bottom: 5vh;
    width: 300px;
    height: 60vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    margin-top: 5vh;
    background-color: rgb(5, 2, 92, 0.22);
    border-radius: 1vw;

    transition: transform 1.3s;
    transform-style: preserve-3d;
}

.best-book-name{
    font-family: fantasy;
    font-size: 160%;
    font-weight: bolder;
    text-align: center;
}

.best-book-image img{
    width: 12vw;
    padding-bottom: 1.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vh;
}

.best-book-1:hover .best-book{
    transform: rotateY(180deg);
}

.best-book-front{
    position: absolute;
    backface-visibility: hidden;
    padding: 10%;
}

.best-book-back{
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    padding: 8% ;

    transform: rotateY(180deg);
}

.best-book-author{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 160%;
    text-align: center;
}

.best-book-add button{
    margin-top: 2.8vh;
    background-color: rgb(5, 2, 92);
    color: aliceblue;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10px;
    border-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1); 
}

.best-book-description{
    padding-bottom: 0.5vh;
}

.best-book-genre{
    text-align: left;
    font-weight: bolder;
    font-family: fantasy;
    font-size: 125%;
    position: absolute;
}

.best-book-price{
    text-align: right;
    font-style: oblique;
    font-size: 125%;
}

/*recommendations*/

.recommend-title{
    padding-top: 3vh;
    font-family: fantasy;
    font-size: 300% ;
    text-align: center;
}

.recommend-search{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.recommend-search img{
    width: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.9vw;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    background-color: rgb(5, 2, 92);
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.recommend-search-bar{
    width: 50vw;
    border-color: rgb(5, 2, 92);
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
}

.recommend-search input{
    font-size: 97%;
    padding-left: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.all-recommend{
    display: flex;
    justify-content: center;
}

.recommend-book{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    background-color: rgb(5, 2, 92, 0.22);
    width: 22vw;
    height: 29vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    display: flex;
    border-radius: 1.5vw;
    overflow: hidden;
}

.recommend-book:hover{
    width: 23vw ;
    height: 31vh ;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,1);
    transition: all 0.5s;
}

.recommend-book-know{
    display: none;
}

.recommend-book:hover .recommend-book-know{
    display:block ;
    transition: all 0.5s;
}

.recommend-book:hover .recommend-book-left img{
    width: 11.5vw;
    height: 31vh;
    transition: all 0.5s;
}

.recommend-book-left img{
    width: 11vw;
    height: 29vh;
}

.recommend-book-right{
    text-align: center;
    width: 11vw;
    height: 29vh;
    padding: 0vw;
    display: grid;
    justify-content: space-evenly;
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.recommend-book-name{
    font-family: fantasy;
    font-size: 147%;
    text-align: center;

}
.recommend-book-author{
    font-size: 120%;
    font-style: italic;
}

.recommend-book-know button{
    background-color: rgb(5, 2, 92);
    color: aliceblue;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10px;
    border-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1); 
}

/*reviews*/

.review-title{
    font-family: fantasy;
    font-size: 300%;
    text-align: center;
    padding-top: 3vh;
}

.all-review{
    display: flex;
}

.review-left{
    width: 40vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.review-left-title{
    font-family: fantasy;
    font-size: 230%;
    padding-bottom: 4vh;
    text-align: center;
}

.review-left-name{
    padding-bottom: 2vh;
    text-align: center;
}

.review-form-name{
    width: 20vw;
    height: 4vh;
    border-radius: 0.4vw;
    border-color: rgb(5, 2, 92);
}

.review-left-name input{
    font-size: 97%;
    padding-left: 0.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review-left-email{
    padding-bottom: 2vh;
    text-align: center;
}

.review-form-email{
    width: 20vw;
    height: 4vh;
    border-radius: 0.4vw;
    border-color: rgb(5, 2, 92);
}

.review-left-email input{
    font-size: 97%;
    padding-left: 0.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review-left-yourreview{
    padding-bottom: 2vh;
    text-align: center;
}

.review-form-yourreview{
    width: 20vw;
    height: 12vh;
    border-radius: 0.4vw;
    border-color: rgb(5, 2, 92);
    resize: none;
    border-width: 0.2vw;
}

.review-left-yourreview textarea{
    font-size: 97%;
    padding-left: 0.5vw;
    padding-top: 1vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review-left-button{
    text-align: center;
    padding-top: 4vh;
}

.review-left-button button{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 90%;
    background-color: rgb(5, 2, 92);
    color: aliceblue;
    border-radius: 0.7vw;
    border-color: gray;
    border-width: 0.25vw;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.review-right-title{
    text-align: center;
    font-family: fantasy;
    font-size: 230%;
}

.all-review-customer{
    display: grid;
}

.review-customer{
    width: 52vw;
    height: 15vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 3vw;
    margin-left: 1vw;
    justify-content: center;
    background-color: rgb(5, 2, 92, 0.22);
    display: flex;
    padding-top: 1.2vh;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.review-customer:hover{
    width: 53vw;
    height: 17vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right: 2.5vw;
    margin-left: 0.5vw;
    padding-top: 2.2vh;
    transition: all 0.3s;
}

.review-customer-left{
    text-align: center;
    padding-top: 0.5vh;
    padding-left: 1vw;
    padding-right: 2vw;
}

.review-customer-left img{
    width: 6.3vw;
    border-radius: 3vw;
}

.review-customer-name{
    padding-top: 1vh;
    font-size: 130%;
}



/*footer*/

.footer{
    display: flex;
    background-color: rgb(5, 2, 92);
    margin-top: 4vh;
}

.footer-left{
    width: 65vw;
    color: aliceblue;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2.5vw;
    padding-right: 0vw;
}

.footer-left-title{
    font-family: fantasy;
    font-size: 200%;
}

.footer-left-info{
    display: flex;
}

.footer-left-descri{
    text-align: justify;
}

.footer-left-links{
    padding-right: 2vw;
}

.footer-left-links a{
    text-decoration: none;
    color: aliceblue;
    font-size: 94%;
}

.footer-right{
    width: 35vw;
    text-align: center;
    padding-top: 6vh;
}

.footer-right-title{
    font-family: fantasy;
    font-size: 200%;
    text-align: center;
    color: aliceblue;
    padding-bottom: 0vh;
}

.footer-right-links{
    display: flex;
    justify-content: center;
    padding-bottom: 15vh;
}

.footer-right-socials{
    padding: 1vh;
    padding: 0.8vw;
}

.footer-right-socials a img{
    width: 3vw;
    height: 6.5vh;
}

.back-to-top button{
    padding-top: 0.5vh;
    padding-bottom: 0.2vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    background-color: rgb(156, 157, 255);
    border-radius: 0.5vw;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.back-to-top a{
    font-size: 120%;
    font-family: fantasy;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1000px) {
    .all-best-book{
        flex-direction: column;
        align-items: center;
    }

    .all-recommend{
        flex-direction: column;
        align-items: center;
    }
}